{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <p style="margin: 30px;"></p>
        <!--Section: Products v.3-->
        <section class="text-center mb-4">
            <div class="row wow fadeIn">
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <style>
                    form p label {
                        width: 150px;
                        margin: 5px;
                        text-align: left;
                    }

                    form p input,
                    form p select {
                        background-color: transparent;
                        color: blue;
                        border: none;
                        border-bottom: 2px solid blue;
                        border-radius: 50px;
                        padding: 5px 10px;
                        width: 250px;
                    }

                    form p input:hover {
                        background-color: lightgray;
                    }
                </style>
            </div>

        </section>
        <!--Section: Products v.3-->
        <section id='waste'>
            {% for i in waste_obj %}
            <button type="button" class="btn btn-primary">{{i.type_of_waste}} , {{i.quantity}}</button>
            {% endfor %}
        </section>
        <style>
            #waste {
                border: 0px solid black;
                margin: 20px;
            }
        </style>
        <!--Pagination-->

        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
            <ul class="pagination pg-blue">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}

    </div>
</main>

{% endblock content %}